<h1>Login</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Iniciar sesión</div>
                <div class="card-body">
                    <!-- HTML: Formulario de inicio de sesión -->
                    <form id="loginForm">
                        <!-- Campos de entrada para el correo y la contraseña -->
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" required>
                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </form>

                
                </div>
                <div class="mt-4 text-center">
                    ¿Aún no tenés una cuenta? <a href="/signup">Regístrate aquí</a>
                </div>
            </div>
        </div>

    </div>

</div>